@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background: url(img/wallpaper2.jpg);

}

main {
    width: 100%;
    height: 100vh;
    padding: 3% 10%;

    background: rgba(22, 22, 22, 0.466);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);  
}

/* CABEÇALHO - LINKS - MENU SUPERIOR */

section {
    width: 100%;
    height: 100%;
    background: white;
    /* border-radius: 10px; */
}

ul h1 {
    font-size: 16px;
    transition: .3s ease;
}


li {
    list-style: none;
    font-size: 12px;
    transition: .3s ease;
}

li:hover, ul h1:hover  {
    transform: scale(1.2);
    cursor: pointer;
    text-decoration: underline;
}

header {
    width: 100%;
    height: 50px;
}

nav {
    height: 100%;
    width: 100%;
}

nav ul {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* CABEÇALHO - LINKS - MENU SUPERIOR */

/* CONTEÚDO PRINCIPAL */

.content {
    width: 100%;
    height: calc(100% - 120px);
    overflow: hidden;
}

#title-content {
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.main-content-img {
    /* width: 150%; */
    width: 150%;
    overflow: hidden;
}

.main-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content-left {
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.main-content-text {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-content-more {
    width: 100%;
    height: 100%; 
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

#btn-more {
    width: 240px;
    height: 40px;
    background: black;
    color: white;
    border: none;
    transition: .3s ease;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.11);
}

#btn-more:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    font-weight: bold;
}

#content-text-colum-one,
#content-text-colum-two {
    width: 50%;                          
    box-sizing: border-box;   
    overflow-wrap: break-word; /* quebra palavras muito grandes */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#content-text-colum-one {
    margin-right: 10px;
}

#content-text-colum-two {
    margin-left: 10px;
    margin-right: 10px;
}

.main-content-text p {
  white-space: pre-wrap;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 1px;
}

/* CONTEÚDO PRINCIPAL */

/* RODA PÉ DE CONTAINER */

footer {
    height: 70px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* border-radius: 10px; */
}

.carousel {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 6px;
    overflow: hidden;
}

.carousel p {
    font-size: 14px;
    letter-spacing: 4px;
    display: inline-block;
    white-space: nowrap;
    
}

#painel-one {
    animation: rotation 5s linear infinite;
}

#painel-two {
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* RODA PÉ DE CONTAINER */

/* RESPONSIVIDADE */

@media (min-width: 824px) and  (max-width: 1296px) {
    main {
        padding: 2% 5%;
        height: auto;
    }

    #title-content {
        font-size: 50px;
    }

    .main-content {
        flex-direction: column;
    }

    .main-content-text {
        margin-top: 20px;
    }

    .main-content-text p {
        font-size: 24px;
        padding: 10px;
    }

    .main-content-img {
        width: 100%;
    }

    #btn-more {
        margin-bottom: 40px;
        width: 500px;
        height: 70px ;
    }

    #content-text-colum-one,
    #content-text-colum-two {
        margin-left: 10px;
    }
}

@media (min-width: 668px) and (max-width: 823px) {
    main {
        padding: 2% 5%;
        height: auto;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .main-content {
        flex-direction: column; /* empilha imagem e texto */
        align-items: center;
    }

    .main-content-img {
        width: 100%;
        margin-top: 20px;
    }

    #content-text-colum-one,
    #content-text-colum-two {
        width: 100%; /* texto ocupa toda a largura */
        margin-left: 10px;
    }

    #title-content {
        font-size: 40px;
        text-align: center;
    }

    #btn-more {
        width: 500px;
        height: 70px ;
    }
}

@media (max-width: 667px) {
    main {
        height: auto;
    }

    header {
        height: auto;     
    }

    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

     nav ul {
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px;
    }

    .main-content-left {
        flex-direction: column; /* empilha imagem e texto */
        align-items: center;
    }

    .main-content {
        flex-direction: column;
    }

    .main-content-text {
        flex-direction: column;

    }

    .main-content-img {
        width: 97%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #content-text-colum-one,
    #content-text-colum-two {
        width: 100%; /* texto ocupa toda a largura */
    }

    #btn-more {
        width: 100%;
        height: 70px ;
        font-size: auto;
    }

    .main-content-text p {
        white-space: pre-wrap;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }


}

/* RESPONSIVIDADE */
